<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<Scene resX="1920" resY="1080" bgColorR="0" bgColorG="0" bgColorB="0"
 near="0.1" far="300" occlusionResX="200"  occlusionResY="150" waterResX="200"  waterResY="150"
 mode="fly" >


	<Player
		modelPath="assets/player_old"
		modelExtension="gltf"
	/>


	<Light
		colorr="1"
		colorg="1"
		colorb="1"
		x="-1"
		y="-1"
		z="0"
	/>
	
	<Models>

		<Model posx="0" posy="0" posz="0"
			modelPath="assets/mar4"
			modelExtension="gltf"
		/>
		<Model  posx="1" posy="-2" posz="-1" 
				modelPath="assets/delfin/scene"
				modelExtension="gltf" 
				animationPath="assets/delfin/scene"
				animationExtension="gltf"
			   
				animationType="orbit"
				radius="4.0"
				orbitSpeed=".3"
				orbitCenterX="0.0" orbitCenterY="0.0" orbitCenterZ="0.0"
				reverse="false"
		/>
		
	</Models>
</Scene>