<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<Scene resX="1920" resY="1080" bgColorR="0" bgColorG="0" bgColorB="0"
 near="0.1" far="1000" occlusionResX="200"  occlusionResY="150" waterResX="200"  waterResY="150"
 mode="fly" >


	<Player
		modelPath="assets/player_old"
		modelExtension="gltf"
	/>


	<Light
		colorr="1"
		colorg="1"
		colorb="1"
		x="-1"
		y="-1"
		z="0"
	/>
	
	<Models>
		

		<Model  posx="1" posy="-2" posz="-1"
				modelPath="assets/ballena/scene"
				modelExtension="gltf"
				animationPath="assets/ballena/scene"
				animationExtension="gltf"
			   
				animationType="orbit"
				radius="50.0"
				orbitSpeed=".03"
				orbitCenterX="25" orbitCenterY="-5.0" orbitCenterZ="0.0"
				reverse="true"
		/>

		<Model  posx="1" posy="-2" posz="-1"
				modelPath="assets/delfin/scene"
				modelExtension="gltf"
				animationPath="assets/delfin/scene"
				animationExtension="gltf"
			   
				animationType="orbit"
				radius="5.0"
				orbitSpeed="1"
				orbitCenterX="0.0" orbitCenterY="-2.0" orbitCenterZ="0.0"
				reverse="false"
		/>


		<Model 
		modelPath="assets/escena/scene"
		modelExtension="gltf"
		/>



	</Models>
</Scene>